@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans+Condensed:ital,wght@0,300;1,300&family=Philosopher:ital@1&display=swap");

:root {
	--primary-color: #010025;
	--secondary-color: #cbaa1a;
	--secondary-color-darker: #c8981a;
	--secondary-color-lighter: #ffe600;
	--search-bar: #47474a;
	--dark-background: #222222;
	--light-background: #fff;
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--primary-color);
	color: var(--light-background);
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 300;
	min-height: -webkit-fill-available;
	margin: 0 auto;
	align-items: center;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}

h1 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 3rem;
}

#header-logo {
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	width: 30%;
}

/* ------------------------ NAV BAR ---------------------------------- */
nav {
	background-color: transparent;
	width: 70px;
	height: 70px;
	position: fixed;
	top: 0;
	right: 0;
	margin: 0 auto;
	transition: 0.5s ease-in-out;
}

nav img,
nav ul {
	opacity: 0;
	transition: 0.5s ease-in-out;
}

nav.active {
	width: 170px;
	height: 100vh;
	background-color: var(--search-bar);
	opacity: 1;
	transition: 0.5s ease-in-out;
	overflow-y: auto;
	z-index: 10;
}

nav.active img,
nav.active ul {
	opacity: 1;
	transition: 0.5s ease-in-out;
}

/* ------- Nav pancakes and X btn ------ */
.closeBtn {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	height: 50px;
	width: 50px;
	display: flex;
	align-content: space-between;
	justify-content: space-evenly;
	flex-direction: column;
	margin: 10px auto;
	margin-right: 20px;
}
.closeBtn:focus {
	outline: none;
}

.closeBtn .line {
	background-color: var(--light-background);
	height: 3px;
	width: 30px;
	transition: transform 0.5s linear;
	margin: 0 auto;
	box-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000,
		1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	border-radius: 10px;
}
nav.active .closeBtn .line1 {
	transform: rotate(-45deg) translateY(12px);
}
nav.active .closeBtn .line3 {
	transform: rotate(45deg) translateY(-12px);
}
nav.active .closeBtn .line2 {
	display: none;
}

/* ------- Nav list items ------ */
.page-nav {
	list-style: none;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}
.nav-item {
	line-height: 4rem;
}
.nav-item a {
	color: #ccc;
	font-size: 1.5rem;
	font-family: inherit;
	text-decoration: none;
}

.nav-item a:hover {
	color: #fff;
}

nav img {
	margin: 10px auto;
	width: 50%;
}

.btn {
	background-color: var(--secondary-color);
	grid-area: submit;
	padding: 10px;
	font-family: inherit;
	font-weight: bold;
	font-size: 1.5rem;
	cursor: pointer;
	border-radius: 7px;
	transition: opacity 0.2s ease-in;
	outline: none;
	display: block;
	width: 100%;
}
.btn:hover {
	transform: scale(1.02);
	background-color: var(--secondary-color-lighter);
}

/* Forms */
.form-container {
	display: block;
	max-width: 500px;
	margin: 2rem auto;
	overflow: hidden;
	padding: 0 2rem;
}
input {
	font-size: 1.5rem;
	border-radius: 7px;
	padding: 20px;
	font-family: inherit;
	margin: 1.2rem 0;
}

.form-text {
	display: block;
	margin-top: 0.3rem;
	color: #888;
}

input[type="email"],
input[type="password"] {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.5rem;
	border: 1px solid #ccc;
}

.form-group {
	margin: 1.2rem 0;
}

.form-group input {
	margin: 0.2rem 0;
}

label {
	font-size: 1.5rem;
	float: left;
}

.form-container {
	max-width: 500px;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.form-container h1,
h2,
h3 {
	text-align: center;
}
